form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

form input{
  width: 328px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border: none;
  background: rgba(33, 33, 33, 0.08);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px 4px 0px 0px;
  padding-left: 52px;
}

form label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: 16px;
  margin-left: 15px;
}

.error {
  width: 200px;
  height: 20px;
  font-size: 16px;
  position: relative;
  top: 83px;
  right: 45px;
  margin-right: 0;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
}

.valid {
  border: solid 2px chartreuse;
  outline-color: chartreuse;
  //background-color: chartreuse;
}

.invalid {
  border: solid 2px crimson;
  outline-color: crimson;
}


/* input:focus {
  outline-color: none;
} */

