.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  perspective: 450px;
  cursor: pointer;
  margin-top: 16px;

  &:hover > .card {
    transform: translateZ(20px);
  }

  &.flipped > .card {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }

  &.match > .card > .card__front:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(10, 207, 131, 0.5);
  }

  &.unmatch > .card > .card__front:after {
    content: "";
    display: block;
    background: rgba(242, 78, 30, 0.5);
    width: 100%;
    height: 100%;
  }
}

.card {
  position: relative;
  width: 155px;
  height: 155px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  transform-style: preserve-3d;
  transition: all .5s;
  transform-origin: right;

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
  }

  &__back {
    background-image: url('./images/back-side.png');
    transform: rotateY(180deg);
  }
}
