.setting__field {
  width: 100%;
  max-width: 1000px;
  min-height: 252px;
  background: #ffffff;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
  margin-top: 33px;
}

.selected__block {
  width: 250px;
  padding: 32px 0 0 46px;
  margin: 0;
}
