.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('./images/about.svg');
  background-position: center;
  background-size: cover;
  position: relative;
  top: -55px;
  right: 0;
  margin-right: 120px;
}
